* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
}

/* Common */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line2 {
    --line-clamp: 2;
}
.btn {
    display: inline-block;
    padding: 0px 12px;
    line-height: 50px;
    background-color: #171100;
    border-radius: 25px;
    text-align: center;
    min-width: 118px;
    font-weight: 600;
    font-size: 1.6rem;
    color: #ffffff;
}
.btn:hover {
    opacity: 0.9;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

/* Header*/

.header.fixed {
    position: sticky;
    z-index: 1;
    top: -32px;
    background-color: #fffcf4;
}
.header .body {
    padding-top: 36px;
    display: flex;
    align-items: center;
}
.body .nav {
    display: flex;
    margin-left: 512px;
}

.nav li {
    padding: 0px 21px;
}
.nav li a {
    position: relative;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.nav li:hover a::before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.nav li:hover a {
    text-shadow: 1px 0 0 black; /* Thủ thuật thay thế font-weight*/
    line-height: 1.75;
    color: #171100;
}

.body .action {
    margin-left: 42px;
}

.action .btn-header {
    min-width: 144px;
    font-weight: 600;
    font-size: 1.6rem;
    color: #ffffff;
}

/* Hero */
.hero {
    padding: 65px 0 72px 0px;
    background-color: #fffcf4;
}
.hero .body {
    display: flex;
}

/* HERO LEFT */
.hero .media-block {
    position: relative;
    width: 48%;
    display: flex;
}
.hero .hero-img {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}
.hero .hero-summary {
    width: 270px;
    height: 244px;
    position: absolute;
    right: 0;
    bottom: 48px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 24px;
}
.hero .item {
    display: flex;
    align-items: center;
}

.hero .item + .item {
    margin-top: 14px;
}
.hero .hero-ic {
    display: flex;
    align-items: center;
    padding: 14px;
    background-color: #fff9e8;
    border-radius: 50%;
}

.hero .hero-info {
    margin-left: 16px;
}
.hero-info .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}
.hero-info .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;

    color: #171100;
}

/* HERO RIGHT */
.hero .content-block {
    width: 52%;
    padding-left: 130px;
    padding-top: 64px;
}

.content-block .heading {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.content-block .desc {
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.content-block .cta-group {
    margin: 38px 0px;
    display: flex;
}

.content-block .hero-btn {
    min-width: 180px;
    line-height: 64px;
    border-radius: 32px;
    background-color: #ffb900;
    margin-right: 28px;
}

.content-block .watch-video {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fffcf4;
    cursor: pointer;
}

.content-block .icon {
    display: flex;
    padding: 14px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.content-block .icon img {
    width: 12px;
    height: 12px;
}

.content-block .watch-video span {
    min-width: 148px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.content-block .stat {
    margin-left: -28px;
    margin-top: 8px;
}
.content-block .stat strong {
    font-family: Sen, sans-serif;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    padding-right: 8px;
    padding-left: 28px;
    color: #171100;
}

/* POPULAR */

.popular {
    padding: 200px 0px;
}
.popular .popular-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular .title {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.popular-block .desc {
    max-width: 458px;
    padding-top: 16px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
    word-break: break-all;
}
.popular-block .arr {
    display: flex;
    align-items: center;
}
.popular-block .left,
.popular-block .right {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffb900;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    color: #ffb900;
}

.popular-block .right {
    margin-left: 18px;
}

.popular-block .left:hover,
.popular-block .right:hover {
    background-color: #ffb900;
    color: #ffffff;
}

/* POPULAR BOOKING */
.book-item .book-info {
    padding: 12px 22px 22px 22px;
}
.popular .book-list {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px 12px 0px 0px;
}
.popular .book-item {
    width: 370px;
    height: 466px;
    background-color: #ffffff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}
.popular .book-item:hover {
    background-color: #ffffff;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    border-color: transparent;
}

.book-list .book-img {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    margin: -1px;
}

.book-item .heading {
    display: flex;
    align-items: center;
}

.book-item .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.book-item .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
    margin-top: 6px;
}
.book-item .star {
    margin-left: 119px;
}

.book-item .rate {
    margin-left: 6px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}

.book-item .book-now {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.book-item .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.book-now .popular-btn {
    font-weight: 600;
    font-size: 1.4rem;

    color: #ffffff;
}
.book-now .popular-btn:hover {
    background-color: #ffb900;
    cursor: pointer;
}

/* FEEDBACK */
.feedback {
    padding: 96px 0px;
    background-color: #2e2100;
}
.feedback .feedback-block {
    display: flex;
}
.feedback .fb-user {
    width: 35%;
}

.fb-user .user {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.fb-info .fb-name {
    margin-top: 18px;
    font-family: Sen, sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;

    color: #f7f7f7;
}
.fb-info .fb-job {
    margin-top: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;

    color: #bfbcb3;
}
.fb-user .dot {
    margin-top: 28px;
    display: flex;
    gap: 6px;
}
.dot .dot-off {
    width: 6px;
    height: 6px;
    background-color: #634700;
    border-radius: 50%;
    cursor: pointer;
}
.dot .dot-active {
    width: 6px;
    height: 6px;
    background-color: #ffb900;
    border-radius: 50%;
    cursor: default;
}

.feedback .fb-quote {
    width: 65%;
    margin-left: auto;
}

.fb-quote .quote {
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
    margin-left: 30px;
}
.total {
    padding: 200px 0px;
}
.total .total-block {
    display: flex;
}

.total-block .img-total {
    display: flex;
    gap: 30px;
}

.img-total .img-total1 {
    margin-top: 34px;
    width: 270px;
    height: 405px;
    border-radius: 16px;
}

.img-total .img-total2 {
    width: 270px;
    height: 405px;
    border-radius: 16px;
}

.total-block .total-info {
    margin-left: 130px;
    margin-top: 58px;
}
.total-info .heading {
    font-family: Sen, sans-serif;
    font-weight: 500;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.total-info .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;

    color: #5f5b53;
}

.total-info .cpr {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.total-info .total-btn {
    min-width: 137px;
    margin-top: 32px;
    background-color: #ffb900;
}
